.about-first {
    padding: 5px 8px;
    justify-content: center;
    margin-top: 10px;
}

.about-first h2 {
    font-weight: 700;
    font-style: italic;
}

.about-second {
    padding: 5px;

}

.about-second:hover {
    cursor: pointer;
}

.about-second h6 {
    font-size: 18px;
    margin-top: 10px;
}