@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.our-equipments h2 {
    font-family: 'Akshar', sans-serif;
    /* color: darkcyan; */
    color: black;
    font-weight: 700;
}

.show-more {
    text-decoration: none;
}

.show-more:hover .arrow-icon {
    margin-left: 5px;
}

.empty {
    width: 30px;
    border-bottom: 1px solid #ff4422;
}