@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.gymHelpContainer {
    background-color: #b3d4fc91;
    padding-top: 10px;
}

.gymHelpContainer h1,
.gymHelpContainer h2 {
    /* font-size: 35px; */
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-weight: 700;
}

.gymHelpContainer h2 {
    color: #27AE60;
}

.helpBody h5 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;

}

.helpBody {
    padding-bottom: 20px;
}